/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#container {
    max-width: 600px;
    margin: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#linksInput {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}

#controls {
    display: flex;
    align-items: center;
}

#processLinksButton {
    height: 100%;
    margin-right: 10px;
}

#yearInput {
    height: 100%;
    width: 50px;
}

#output {
    margin-top: 10px;
}
